*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    background-color: rgb(15, 39, 57);
}
body::-webkit-scrollbar {
    width: 0em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent; /* You can set a color if you want */
  }
  
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    padding:20px 5%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.7s;
}

.head.fixed{
    background: #051129;
}
#logo{
   position: relative;
   text-decoration: none;
   color: white;
   font-weight: 600;
   font-size: 25px;
  text-shadow: 0 0 10px cyan;
  transition: all 0.5s;
  animation: slideright 1s ease forwards;
}
#logo:hover{
    text-shadow: 0 0 30px cyan;
}
@keyframes slideright {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
nav a{
    display: inline-block;
    margin-left: 25px;
    font-weight: 300;
    font-size: large;
    color: white;
    text-decoration: none;
    transition:all 0.3s;
    animation: slideleft 1s ease forwards;
}

nav a:hover{
    text-shadow: 0 0 30px cyan;
}

@keyframes slideleft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
nav a:hover{
    color: cyan;
}

.intro {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(15, 39, 57);
    background-position:center;
    background-size: cover;
    overflow: hidden;
    
}

.img {
    flex: 1; /* Adjust the flex property to control the width of the image */
   
}

.detail {
    color: white;
    flex: 1; /* Adjust the flex property to control the width of the details */
    padding-left: 20px; /* Add some padding between the image and details */
    
}
.detail h1{
    font-size: 56px;
    animation: slideright 1s ease forwards;
}
.detail h2{
    font-size: 32px;
    font-weight: 700;
    animation: slideright 1s ease forwards;
}
.detail p{
    font-size: 17px;
    font-weight: 100;
    line-height: 1.2;
    animation: slideright 1s ease forwards;
}
.img img {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom:0;
    transition: all 1s;
    
}

.shape{
    width: 45%;
    animation: slideleft 1s ease forwards;
}
.man{
    margin-left: 120px;
    width: 25%;
    animation: slideleft 1s ease forwards;
    
}
.img:hover .shape{
    bottom:40px;
}
@keyframes slideleft {
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
}
button{
    margin-top: 60px;
    padding:10px;
    width:30%;
    background-color: aqua;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 20px cyan;
    transition: all 0.5s;
    animation: slidebottom 1s ease forwards;
    
}
@keyframes slidebottom {
    0%{
        transform: translatey(100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}
button a{
    text-decoration: none;
    color: black;
}
button:hover{
    opacity: 0.9;
    box-shadow: 0 0 50px cyan;
}

.about{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(15, 39, 57);
    background-position:center;
    background-size: cover;
    overflow: hidden;
}

.img1{
    flex: 1;
    margin-top: -50px;
}
.man1{
    width: 50%;
    box-shadow: 0 0 30px cyan;
    transition: all 0.7s;
    border-radius: 20px;
    animation: slidebottom 1s ease forwards;
}
.man1:hover{
    box-shadow: 0 0 60px cyan;
}
.details{
    color: white;
    flex: 1; /* Adjust the flex property to control the width of the details */
}

.details h2{
    margin-top: -100px;
    margin-bottom: 50px;
    font-size:40px;
    animation: slideright 1s ease forwards;
}

.details p{
    font-size: 20px;
    line-height: 1.5;
    animation: slideleft 1s ease forwards;
}
.skill{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 70px 10% 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(15, 39, 57);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.skills{
    position: absolute;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: -648px;
    animation: slidebottom 1s ease forwards;
}
.thin-hr {
    height: 1px;
    background-color: rgb(59, 89, 111); /* Adjust the color as needed */
    border: none;
    margin: 0px 0; /* Adjust the margin as needed */
}
.progress-container1 {
    width: 60%;
    background-color: rgb(59, 89, 111);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px cyan;
    transition: all 0.7s;
}
.progress-container1:hover{
    box-shadow: 0 0 60px cyan;
}
.progress-container {
    width: 50%;
    position: relative;
    top:-23px;
    right: -137px;
    background-color: white;
    border-radius: 25px;
    margin-top: 75px;
    overflow: hidden;
    text-align: center;
    height: 27px;
}
.progress-label{
    position: absolute;
    top: 105px;
    
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
}
.progress-bar {
    width: 0;
    height: 30px;
    text-align:left;
   
    color: white;
    border-radius: 1px;
    margin-bottom: 10px;
    text-align: right;
    line-height: 30px;
    transition: width 0.1s ease;
}

#htmlProgressBar,#cssProgressBar,#jsProgressBar {
    background-color: rgb(0, 193, 211);
}

#percent{
    position: relative;
    top:-42px;
    right: -510px;
    
    color: white;
}



#cProgressBar {
    background-color: rgb(0, 193, 211);
}



.project{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 70px 10% 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(15, 39, 57);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
}
.projects{
    position: absolute;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: -648px;
    animation: slideright 1s ease forwards;
}
.container{
    flex: 0 1 30%; /* Adjust the width of each container as needed */
    margin: 20px 0px ;
    
    background-color: rgb(238, 238, 238); /* Background color for each container */
    border-radius: 10px;
    width: 600px;
    overflow: hidden;
    box-shadow: 0 0 20px cyan;
    transition: all 0.3s;
    margin-right: 30px;
    margin-left: 30px;
}
.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px cyan;
}

.im img {
    width: 100%;
    height: auto;
}

.para {
    padding: 20px;
    text-align: center;
    color: black;
}
@media screen and (max-height: 600px){
    .projects{
        font-size: 35px;
        color: white;
        margin-top: -1157px;
    }
}
@media screen and (max-width: 1050px) and (min-width: 769px) {
    .container{
        flex: 0 1 50%; /* Adjust the width of each container as needed */
    }
    .projects{
        font-size: 35px;
        color: white;
        margin-top: -1157px;
    }
}

@media screen and (max-width: 768px) and (min-width: 556px) {
    .img1 {
        margin-top: 0;
    }

    .man1 {
        width: 100%;
        max-width: none;
    }
    
    .container{
        flex: 0 1 50%; /* Adjust the width of each container as needed */
    }
    .projects{
        position: absolute;
        font-size: 25px;
        color: white;
        text-align: center;
        margin-top: -930px;
        animation: slideright 1s ease forwards;
    }
}

@media screen and (max-width: 556px) and (min-width: 505px){
    .projects{
        flex: content;
        position: absolute;
        font-size: 25px;
        color: white;
        text-align: center;
        margin-top: -685px;
        animation: slideright 1s ease forwards;
    }
    .container{
        flex: 0 1 50%; /* Adjust the width of each container as needed */
    }
    hr{
        display: none;
    }
}
@media screen and (max-width: 504px)and (min-width: 376px){
    .project{
        
        padding: 180px 10% 0;
    }
    .projects{
        flex: content;
        position: absolute;
        font-size: 25px;
        color: white;
        text-align: center;
        margin-top: -920px;
        animation: slideright 1s ease forwards;
    }
    .container{
        flex: 0 1 70%; /* Adjust the width of each container as needed */
    }
    
}
@media screen and (max-width: 375px) and (min-width:281px){
    .project{
        padding: 180px 10% 0;
    }
    .projects{
        flex: content;
        position: absolute;
        font-size: 25px;
        color: white;
        text-align: center;
        margin-top: -756px;
        animation: slideright 1s ease forwards;
    }
    .container{
        flex: 0 1 70%; /* Adjust the width of each container as needed */
    }
    
}
@media screen and (max-width: 280px){
    .project{
        padding: 180px 10% 0;
    }
    .projects{
        flex: content;
        position: absolute;
        font-size: 20px;
        color: white;
        text-align: center;
        margin-top: -756px;
        animation: slideright 1s ease forwards;
    }
    .container{
        flex: 0 1 80%; /* Adjust the width of each container as needed */
    }
    
}

@media screen and (max-width:1000px) and (min-width:691px){
    .progress-container{
        height: 15px;
        right: -100px;
    }
    .progress-bar{
        font-size: small;
        
    }
    #ihtml{
        position: relative;
        top: -6px;
    }
    .progress-label{
        font-size: 10px;
    }
}
@media screen and (max-width:690px) and (min-width:450px){
    .progress-container1{
        width: 80%;
    }
    .progress-container{
        height: 15px;
        right: -70px;
        margin-top: 50px;
    }
    .progress-bar{
        font-size: small;
        
    }
    #ihtml{
        position: relative;
        top: -6px;
    }
    .progress-label{
        font-size: 10px;
    }
}
@media screen and (max-width:449px) and (min-width:281px){
    .progress-container1{
        width: 90%;
    }
    .progress-container{
        width: 70%;
        height: 13px;
        right: -50px;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .progress-bar{
        font-size: small;
        
    }
    #ihtml{
        position: relative;
        top: -6px;
    }
    .progress-label{
        font-size: 10px;
    }
    .skills{
        font-size: 30px;
        margin-top:-650px;
    }
}
@media screen and (max-width:280px){
    .progress-container1{
        width: 90%;
    }
    .progress-container{
        width: 70%;
        height: 13px;
        right: -30px;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .progress-bar{
        font-size: small;
        
    }
    #ihtml{
        position: relative;
        top: -6px;
    }
    .progress-label{
        font-size: 10px;
    }
    .skills{
        font-size: 20px;
        margin-top:-580px;
    }
}

.contact{
    
    font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
            margin: 0;

            width: 100%;
            height: 100vh;
            padding: 70px 10% 0;
            background: rgb(15, 39, 57);
            background-position:center;
            background-size: cover;
            overflow: hidden;
}
.contact1{
    
            color: #fff;
            padding: 10px;
            text-align: center;
}
.container1{
    
    max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #55555700;
            border: none;
}
label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px cyan;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    background-color: #333;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.5s;
    color: white;
}
input:focus,
textarea:focus{
    background-color:white;
    color:black;
    box-shadow: 0 0 40px cyan;
    outline: none;
    border-radius: 20px;
}
#btn{
    border: 1px solid black;
}
@media (max-width: 600px) {
    input,
    textarea {
        margin-right: 0;
    }
}

.social-links{
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    margin-top: 50px;
}

.social-links a{
    color: cyan;
    text-shadow: 0 0 20px cyan;
    font-size: larger;
    margin-right: 20px;
}
.social-links a:hover{
    transform: scale(1.5);
    text-shadow: 0 0 40px cyan;
}

.social-links1{
    display: flex;
    margin-top: 20px;
    position: relative;
    justify-content: right;
    color: cyan;
    text-shadow: 0 0 20px cyan;
}

@media screen and (max-width:550px) {
    hr{
        display: none;
    }
}
footer{
    margin-top: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }

@media screen and (max-height:750px) {
    .social-links{
        margin-top: 4px;
    }
    .social-links1{
        display: flex;
        margin-top: 5px;
       margin-left: 290px;
        position: relative;
        justify-content: right;
        color: cyan;
        text-shadow: 0 0 20px cyan;
    }
}

@media screen and (max-width:1200px) and (min-width:642px){
    .img{
        display: none;
    }
    .intro{
        background: url('back.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #wrap{
        white-space: wrap;
    }
}
@media screen and (max-width:641px) and (min-width:389px){
    .img{
        display: none;
    }
    .intro{
        background: url('back.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .detail h2{
        font-size: 20px;
    }
    .detail h1{
        font-size: 35px;
    }
    #bt{
        width:50%;
        }
}
@media screen and (max-width:388px) and (min-width:285px){
    .img{
        display: none;
    }
    .intro{
        background: url('back.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .detail{
        left: 40px;
    }
    .detail h2{
        font-size: 20px;
    }
    .detail h1{
        font-size: 35px;
    }
    #bt{
        width:50%;
        }
}
@media screen and (max-width:284px){
    .img{
        display: none;
    }
    .intro{
        background: url('back.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .detail{
        left: 40px;
    }
    .detail h2{
        font-size: 15px;
    }
    .detail h1{
        font-size: 25px;
    }
    .detail p{
        font-size: 12px;
    }
    #bt{
    width:50%;
    }
    #bt a{
        font-size: 9px;
    }
}

#imag {
    display: none; /* Initially hide the image */
}



.sidebar{
    position: fixed;
    top: 0; 
    right: -20px;
    height: 100vh;
    width: 250px; 
    z-index: 999;
    background-color:rgba(68, 92, 113, 0.471);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.sidebar  a{
    position: relative;
    margin-left: 90px;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px cyan;

}
.sidebar li a:hover{
    color:rgba(243, 210, 0, 0.87);
}
#btn1{
    margin-top: 38px;
}
#imgg{
    position: relative;
    margin-left: 30px;
    margin-top: 20px;
}
@media screen and (max-width: 580px) {
    .nb {
        display: none; /* Hide the navbar */
    }

    #imag {
        display: flex; 
        margin-top: 13px;
        
    }
}

@media screen and (max-width: 1173px) and (min-width:821px){
    .img1{
        width: 80%;
        margin-left: 327px;
        
        margin-top: 80px;
    }
     .man1 {
        box-shadow: none;
        content: url('me.png');
     }
    .about{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .details h2{
        font-size:50px;
    }
}
@media screen and (max-width: 820px) and (min-width:769px){
    .img1{
        width: 80%;
        margin-left: 270px;
        
        margin-top: 80px;
    }
     .man1 {
        box-shadow: none;
        content: url('me.png');
     }
    .about{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .details h2{
        font-size:50px;
    }
}
@media screen and (max-width: 768px) and (min-width:541px){
    .img1{
        width: 40%;
        margin-left: 0px;
        
        margin-top: 80px;
    }
     .man1 {
        box-shadow: none;
        content: url('me.png');
     }
    .about{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .details h2{
        font-size:50px;
    }
}
@media screen and (max-width: 540px) and (min-width:431px){
    .img1{
        width: 80%;
        margin-left: 160px;
        
        margin-top: 40px;
    }
     .man1 {
        box-shadow: none;
        content: url('me.png');
     }
    .about{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .details h2{
        font-size:30px;
    }
    .details p{
        font-size:20px;
    }
}
@media screen and (max-width: 430px) and (min-width:391px){
    .img1{
        width: 100%;
        margin-left: 160px;
        margin-top: 40px;
    }
     .man1 {
        box-shadow: none;
        content: url('me.png');
     }
    .about{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .details h2{
        font-size:27px;
    }
    .details p{
        font-size:16px;
    }
}
@media screen and (max-width: 390px) and (min-width:376px){
    .img1{
        width: 100%;
        margin-left: 160px;
        margin-top: 40px;
    }
     .man1 {
        box-shadow: none;
        content: url('me.png');
     }
    .about{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .details h2{
        font-size:24px;
    }
    .details p{
        font-size:14px;
    }
}
@media screen and (max-width: 375px) and (min-width:300px){
    .img1{
        width: 100%;
        margin-left: 160px;
        margin-top: 30px;
    }
     .man1 {
        box-shadow: none;
        content: url('me.png');
     }
    .about{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .details h2{
        font-size:24px;
    }
    .details p{
        font-size:13px;
    }
}
@media screen and (max-width: 280px){
    .img1{
        width: 120%;
        margin-left: 130px;
        margin-top: 30px;
    }
     .man1 {
        box-shadow: none;
        content: url('me.png');
     }
    .about{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .details h2{
        font-size:18px;
    }
    .details p{
        font-size:10.5px;
    }
}
